*.log
.DS_Store
.env
.env.*.local
.env.backup
.env.local
.env.production
.idea
.php-cs-fixer.cache
.phpactor.json
.phpunit.result.cache
.vscode/*
/.env
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/storage/pail
/vendor
/vendor/
Homestead.json
Homestead.yaml
Thumbs.db
